:root{
    --light-color-hover: #f5f5f5;
    --light-color: #e0e0e0;

    --dark-color: #141414;

    --main-color: #ff4100;

    --unit-em: 1em;
    --unit-rem: 1rem;

    --header-height: calc(var(--unit-rem) * 4)
}

@media screen and (min-width: 768px){
    :root{
        font-size: 18px;
    }
}