:root{
    /* Colors */
    --main-color-lighten  : rgb(255, 102, 0);
    --main-color-darken   : rgb(255, 102, 51);

    --light-color-lighten  : rgb(248, 248, 255);
    --light-color-darken   : rgb(245, 245, 245);

    --dark-color-lighten   : rgb(39, 55, 70);
    --dark-color-darken    : rgb(23, 32, 42);

    /* Units */
    --unit-em        : 1em;
    --header-height  : calc(var(--unit-em) * 3);
    --max-width      : 1000px;

    /* Times */
    --time-transition  : .15s;
    --time-animation   : 1s;

    --z-index-fixed  : 50;
}