*,
*::after,
*::before {
    box-sizing: border-box;
}

/*
* position y top: dejan al body justo donde 
*
* termina el header que tiene position fixed
*/
body{
    position: relative;
    top: var(--header-height);
    margin: 0;
    font-family: sans-serif;
}