*,
*::after,
*::before { 
    box-sizing: border-box;
}
body{
    position: relative;
    top: var(--header-height);

    margin: 0;

    font-family: sans-serif;

    color: var(--light-color-lighten);
    background: fixed var(--dark-color-lighten) url('../assets/images/index/undraw_movie_night_fldd.svg') center no-repeat;
    background-size: contain;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    
    max-width: 100%;
    height: auto;
}
label{
    display: block;
}
input{
    border: 1px solid #eee;
}
@media screen and (max-width: 800px) {
    body{
        top: calc(var(--header-height) * 2 + 1.29em);
    }
}