/* Contenedor de formularios */
.forms__modal{
    position: fixed;
    top: var(--header-height);
    right: 50%;

    width: 290px;

    transform: translateX(50%);

    z-index: 100;
}

/* Formularios - Estilos comunes */
.form{
    padding: var(--unit);

    background-color: var(--dark-color-hover);
}
.form__label{
    margin-bottom: var(--unit);
}
.form__input{
    padding: calc(var(--unit) / 2);
}
.form__button{
    border: 1px solid var(--main-color);
}
.form__input,
.form__button{
    width: 100%;
    font-size: 100%;
}

/* Formularios de Login y Registro */
.forms__modal--account{
    margin-top: var(--unit);
}

/* Formulario de Búsqueda */
.forms__modal--search{
    width: 100%;
}
.form--search{
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
    border-top: 1px solid var(--dark-color);
}

@media screen and (min-width: 800px){
    .forms__modal--search{
        top: 0;
        max-width: 310px;
    }
    .form--search{
        padding: 0;
        height: var(--header-height);
        border: none;
    }
}
@media screen and (min-width: 950px){
    .forms__modal--search{
        max-width: 400px;
    }
}
@media screen and (min-width: 1120px){
    .forms__modal--search{
        max-width: 450px;
    }
}