/* Componente usado ordenar botones */
.account{
    height: var(--header-height);
    text-align: center;
    border-right: 1px solid var(--dark-color-lighten);
}

/* Debe tener como hijo un componente botón */
.account__button{
    flex: 1 1 auto;
}