/* Si la contraseña de usuario al repetirla es la misma, asigna esta clase */
.equal-to{
    outline-color: rgb(102, 255, 0);
}

/* Si un campo de formulario está vacío se asigna esta clase */
.alert,
.alert::placeholder{
    outline-color: var(--main-color);
    color: var(--main-color);
}

.equal-to,
.alert{
    outline-width: 3px;
    outline-style: solid;
}

/* Fade in */
.fade-in{
    animation: fadeIn .25s linear;
}
@keyframes fadeIn { 
    from {
        opacity: .75;
    } /* Por defecto si no se asigna "to" toma el valor inicial del elemento */
}
.alerts__alert{
    position: fixed;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 290px;

    padding: var(--unit);

    background-color: var(--main-color);
    color: var(--dark-color-hover);
    text-align: center;
    font-size: 1.3em;

    outline-color: inherit;

    transform: translate(-50%,-50%);
    z-index: 240;
}