.banner{
    display: grid;
    place-items: center;

    max-width: var(--max-with);
    min-height: calc(100vh - var(--header-height));
    
    margin-right: auto;
    margin-left: auto;
    padding: var(--unit);
}
.img--animate{
    animation: appear var(--time-animation) ease;
}

@keyframes appear { 
    from {
        transform: scale(.85) translateY(-55%);
        opacity: 0;
    } /* Por defecto si no se asigna "to" toma el valor inicial del elemento */
}