/* Contenedor general */
.movies{
    padding: var(--unit);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: var(--unit);

    margin-bottom: calc(var(--unit) * 2);

    text-align: center;
}

/* Cada pelicula */
.movie{
    position: relative;

    overflow: hidden;
    border: 3px solid var(--dark-color-hover);
}
.movie__title{
    color: var(--main-color);
}

/* La imágen */
.movie__poster{
    transition-property: transform, filter;
}

/* La información */
.movie__info{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;

    background-color: rgba(23, 32, 42,.4);
    backdrop-filter: blur(2px);

    border-top: 3px solid var(--dark-color-hover);
}
.movie__poster{
    transition-timing-function: ease;
    transition-duration: var(--time-transition);
}

/* Hovers */
.movie:hover .movie__poster{
    transform: scale(1.05);
}
.movie__button{
    width: 100%;
}
.movie__button:hover{
    background-color: var(--dark-color-hover);
}
.movies__info{
    position: fixed;
    top: 50%;
    left: 50%;

    padding: var(--unit);
    
    width: 100%;
    max-width: 400px;
    max-height: 100vh;
    
    background-color: var(--dark-color);
    
    transform: translate(-50%, -50%);

    border: 3px solid var(--dark-color-hover);

    z-index: var(--z-index-fixed);

    overflow-x: auto;
}

/* Botón de Favoritos */
.movie__favorite,
.movie__favorite--img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.movie__favorite{
    width: 60px;
    height: 60px;
    

    background-color: rgba(100,100, 100,.02);
    backdrop-filter: blur(4px);
}
.movie__favorite--img{
    margin: .5em;
    fill: var(--main-color);
}
.movie__favorite--img:hover{
    fill: var(--dark-color);
}

.movie__favorite--add-favorite{

}

/* Medias queries */
@media screen and (min-width: 1000px){
    .movies{
        padding-left: 0;
        padding-right: 0;
    }
}