/* Contenedor general */
.movies{
    padding: var(--unit-em);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: var(--unit-em);

    margin-bottom: calc(var(--unit-em) * 2);

    text-align: center;
}

/* Cada pelicula */
.movie{
    position: relative;

    overflow: hidden;
    border: 3px solid var(--dark-color-darken);
}
.movie__title{
    color: var(--main-color-lighten);
}

/* La imágen */
.movie__poster{
    transition-property: transform, filter;
}

/* La información */
.movie__info{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;

    background-color: rgba(23, 32, 42,.4);
    backdrop-filter: blur(2px);

    border-top: 3px solid var(--dark-color-darken);
}
.movie__poster{
    transition-timing-function: ease;
    transition-duration: var(--time-transition);
}

/* Hovers */
.movie:hover .movie__poster{
    transform: scale(1.05);
}
.movie__button{
    width: 100%;
}
.movie__button:hover{
    background-color: var(--dark-color-darken);
}

/* Botón de Favoritos */
.movie__favorite{
    position: absolute;
    top: 0;
    right: 0;

    padding: 0;

    width: 60px;
    height: 60px;
    
    background-color: rgba(100,100, 100,.02);
    backdrop-filter: blur(4px);

    z-index: 1;
}
.movie__favorite--svg{
    padding: .25em;
}
/* Medias queries */
@media screen and (min-width: 1000px){
    .movies{
        padding-left: 0;
        padding-right: 0;
    }
}

/* Imformación completa */
.movies__info{
    position: fixed;
    top: 50%;
    left: 50%;
    
    width: 100%;
    max-width: 600px;
    max-height: 100vh;
    
    background-color: var(--dark-color-lighten);
    
    transform: translate(-50%, -50%);

    border: 3px solid var(--dark-color-lighten);

    z-index: var(--z-index-fixed);

    overflow-x: auto;
}
.movies__info--img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.movies__info--details{
    background-color: rgba(248, 248, 255, .85);
    color: var(--dark-color-lighten);
    padding: var(--unit-em);
}
.movies__info--title{
    margin-top: 0;
    padding: .5em;
    color: var(--main-color-lighten);
    background-color: var(--dark-color-lighten);
}
.movies__info--details > * {
    line-height: 1.35;
}