/* Contenedor general */
.movies{
    padding: var(--unit);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--unit);

    margin-bottom: calc(var(--unit) * 2);

    text-align: center;
}

/* Cada pelicula */
.movie{
    position: relative;

    overflow: hidden;
    border: 3px solid var(--dark-color-hover);
}

/* La imágen */
.movie__poster{
    transition-property: transform, filter;
}

/* La información */
.movie__info{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;

    background-color: rgba(10, 10, 10, .75);
}
.movie__poster{
    transition-timing-function: ease;
    transition-duration: var(--time-transition);
}

/* Hovers */
.movie:hover .movie__poster{
    transform: scale(1.1);
}
.movie:hover .movie__info{
    transform: scale(1);
    opacity: 1;
}
.movie__button{
    width: 100%;
}
@media screen and (min-width: 1000px){
    .movies{
        padding-left: 0;
        padding-right: 0;
    }
}