.favorites{
    position: fixed;
    top: var(--header-height);
    right: -280px;

    padding-bottom: calc(var(--unit-em) * 3);

    width: 100%;
    max-width: 280px;
    height: calc(100vh - var(--header-height));

    background-color: var(--dark-color-darken);

    overflow-x: auto;

    z-index: var(--z-index-fixed);

    transition: right var(--time-transition) ease;
}
.favorites__active{
    right: 0;
}
.favorite{
    position: relative;

    margin: .5em;

    background-color: var(--dark-color-lighten);

    text-align: center;

    border: 3px solid var(--dark-color-lighten);
}
.favorite__info{
    border-color: inherit; /* Heredada las otras propiedades de "movie__info" */
}
@media screen and (max-width:800px){
    .favorites{
        top: calc(var(--header-height) * 2 + 1.29em);
    }
}
