.favorites{
    position: fixed;
    top: var(--header-height);
    right: -280px;

    width: 100%;
    max-width: 280px;
    height: calc(100vh - var(--header-height));

    background-color: var(--dark-color-darken);

    overflow-x: auto;

    z-index: var(--z-index-fixed);

    transition: right var(--time-transition) ease;
}
.favorites__right{
    right: 0;
}
.favorite{
    position: relative;
    top: 1.75em;

    display: block;

    margin: .5em;
    padding: .5em;

    height: 80px;

    background-color: var(--dark-color-lighten);
}
.favorite__img,
.img{
    height: 100%;
}
.favorite__info{
    width: 100%;

    padding-left: var(--unit-em);

    text-align: center;
    text-transform: uppercase;
    
    color: var(--main-color-lighten);
}
@media screen and (max-width:800px){
    .favorites{
        top: calc(var(--header-height) * 2 + 1.29em);
    }
}
