.welcome{
    padding:.5em 1em;

    width: 100%;

    background-color: var(--dark-color-darken);

    z-index: var(--z-index-fixed);
}
.welcome__title{
    margin: .5em 0;
    color: var(--main-color-lighten);
}