/* Tamaño del scroll */
::-webkit-scrollbar {
  width: calc(var(--unit-em) / 2);
}

 /* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background-color: var(--main-color-lighten);
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-darken);
}

 /* Estilos track de scroll */
::-webkit-scrollbar-track {
  background-color: var(--dark-color-lighten);
}

::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
  background-color: var(--dark-color-darken);
}