.container{
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}

.display-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.just-cont-space-between{
    justify-content: space-between;
}

.fixed{
    position: fixed;
    margin-left: .45em;
    z-index: var(--z-index-fixed);
}

/* Estilos para los "a" */
/*
Reescribe estilos del reset.css
Se tiene en cuenta que un "a" 
puede ser un link o un botón
*/
.link{
    color: var(--main-color-lighten);

    text-transform: uppercase;
    
    font-size: .82em;
}
.link:hover{
    text-decoration: underline;
}